/**
 * ---------
 *  Colours
 * ---------
 *
 *  Contents
 *  --------
 *  01 Default Colours
 *  02 Project Specific Colours
 */

/**
 *  01 Default Colours
 */
$black  : #00040a;
$green  : #2ecc40;
$grey   : #aaaaaa;
$red    : #ff4136;
$white  : #ffffff;
$yellow : #ffdc00;

/**
 *  02 Project Specific Colours
 */
$bud              : #B2B4AE;
$buddha_gold      : #CC9100;
$chelsea_gem      : #996D00;
$dove_gray        : #707070;
$faded_jade       : #4C7D7A;
$gray_nurse       : #EDEEEC;
$mai_tai          : #AF6D04;
$nandor           : #545857;
$outer_space      : #253C3B;
$quill_gray       : #DEDFDD;
$selective_yellow : #FFB500;
$spectra          : #2F4D4C;
